<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="your_styles.css"> <!-- Include your CSS file -->
  <title>User Profile</title>
</head>
<body class="body-background">
  <div class="container-profile">
    <div class="container-left-profile-avatar">
      <img src="app/assets/images/spark-pal-profile-picture.jpg" alt="User Avatar" class="avatar-image">
    </div>
    <div class="container-right-profile">
      <div class="container-top-user-info">
        <!-- Display user name and email -->
         <h1><%= "Micheline18" %></h1>
         <h5><%= "michmich@exemple.com" %></h5>
      </div>
      <div class="container-bottom-user-info">
        <div class="buttons-container">
          <button class="user-info-button">Join</button>
          <button class="user-info-button">Created Event</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
